


<div class="container-fluid">
	<%= form_for @owner, :url => { :controller => "sessions", :action => "create" } do |f| %> <!-- See the comment under the f.submit line for details. the url tells it to go to the sessions path, create method instead-->
		<div class="row">
			<div class='col-xs-12 text-center'>
				<h1>Log-in!</h1>	
			</div>
		</div>

		<!-- This will give you an error message if you tried to log with the wrong password or username -->
		<div class="row">
			<div class='col-xs-12 text-center'>
				<%if params[:error_message] != nil %>
					<p class="text-danger"><%= params[:error_message] %></p>
				<% end %> 
				</div>
		</div>
		<div class="row">
			<div class='col-xs-2'></div>
			<div class='col-xs-8 text-center'>Username: <%= f.text_field :username, class: 'signupfield' %></div>
		  <div class='col-xs-2'></div>
		</div>

		<div class="row">
			<div class='col-xs-2'></div>
			<div class='col-xs-8 text-center'>Password: <%= f.password_field :password, class: 'signupfield' %></div>
			<div class='col-xs-2'></div>
		</div>

		<div class="row">
			<div class='col-xs-2'></div>
			<div class='col-xs-8 text-center'>
				<%=f.submit 'Log yourself in', :class =>  'btn btn-primary' %> <!-- This will post back to the users controller by default because it's a user. We need to override this behavior -->
			</div>
			<div class='col-xs-2'></div>
		</div>

	<% end %>

	<div class="row">
		<div class='col-xs-2'></div>
		<div class='col-xs-8 text-center'>
			<%= link_to 'New user? Create an account here', new_owner_path %>
		</div>
		<div class='col-xs-2'></div>
	</div>
</div>
		