<div class='ownerContainer'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-xs-12'>
				<h1>Edit this owner</h1>
			</div>
		</div>

		<div class='row'>
			<div class='col-xs-4'></div>
			<div class='col-xs-4 text-left'>
				<%= form_for @owner do |f|%>
					<%= f.label :username %>
					<%= f.text_field :username %> <br />
					<%= f.label :first_name %>
					<%= f.text_field :first_name %> <br />
					<%= f.label :last_name %>
					<%= f.text_field :last_name %> <br />
					<% if @owner.image_file_name != nil%>
						<p>Your current profile picture</p>
						<%= image_tag @owner.image.url(:thumb) %>  <!-- Show current profile picture -->
					<% else%>
						<p>Choose a profile picture:</p>
					<% end %>
				  <%=f.file_field :image, class:'text-center' %> <br />

					<%= f.submit 'Save your updates', class:'btn btn-primary btn-lg' %>
				<% end %>
			</div>
			<div class='col-xs-4'></div>
	</div>

</div>