<div class='container-fluid'>
	<div class='row'>
		<div class='col-xs-12'>
			<h1>Edit this owner</h1>
		</div>
	</div>

	<div class='row whiteText'>
		<div class='col-xs-4 col-xs-offset-4 text-left'>
			<%= bootstrap_form_for @owner do |f|%>
				<%= f.text_field :username %> <br />
				<%= f.text_field :email%>
				<%= f.text_field :first_name %> <br />
				<%= f.text_field :last_name %> <br />
				<% if @owner.image_file_name != nil%>
					<p>Your current profile picture</p>
					<%= image_tag @owner.image.url(:thumb) %>  <!-- Show current profile picture -->
				<% end %>
			  <%=f.file_field :image, label: "Choose a profile picture" %> <br />
			  <p><%=f.password_field :password %></p>
			  <p><%=f.password_field :password_confirmation, label: "Confirm Password" %></p>

				<%= f.submit 'Save your updates', class:'btn btn-primary btn-lg center-block' %>
			<% end %>
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-4 col-xs-offset-4 text-center'>
			<%= link_to 'Cancel updates', owner_path(@owner)%>
		</div>
	</div>
</div>