<% if !is_current_owner_site_admin %>
	<!-- Shows an error message if you aren't a site admin -->
	<h1 class='text-danger'>You can't view this page because you aren't a site admin</h1>
	<%=link_to 'Click here to go back to your doggie dashboard', owner_path(current_owner) %>
<% else %>
	<!-- Shows you the page if you are a site admin -->
	<h1 class='text-success text-center'>You are able to view this page because you are a site admin</h1>

		<div class='ownerContainer'>
		<div class ='col-md-12'>
			<h1  class='text-center whiteText'>All owners</h1>
		</div>

		<div class ='col-md-12'>
			<table class='well well-lg text-center'>
				<thead >
					<tr>
						<th class='text-center'>Owner ID</th>
						<th class='text-center'>Owner username</th>
						<th class='text-center'>Owner email</th>
						<th class='text-center'>Owner first name</th>
						<th class='text-center'>Owner second name</th>
						<th class='text-center'>Picture</th>
						<th class='text-center'>Site admin?</th>
						<th class='text-center'colspan="3">Actions</th>
					</tr>
				</thead>
				<tbody>
					<%@owners.each do |owner| %>
						<tr>
							<td><%=owner.id%></td>
							<td><%=owner.username%></td>
							<td><%=owner.email%></td>
							<td><%=owner.first_name%></td>
							<td><%=owner.last_name%></td>
							<td><%=image_tag owner.image.url(:thumb)%></td>
							<th><%= check_box_tag 'is_site_admin', 'yes', owner.is_site_admin %>
							<td><%= link_to 'See owner details', owner_path(owner)%></td>
							<td><%= link_to 'Edit owner details', edit_owner_path(owner)%></td>
							<td><%= link_to 'Delete this owner', owner, method: :delete, data: {confirm: 'Are you sure?'} %></td>
						</tr>
					<% end %>
				</tbody>

			</table>
		</div> <!-- end div class ='col-md-8' -->


		<div class ='col-md-12 text-center'>
			<%= link_to 'Add new owner', new_owner_path%>
		</div>
	</div>
<% end %>