<div class='ownerContainer'>
	

	<div class='container-fluid'>

		<div class='row'>
			<div class='col-sm-2'></div>
			<div class='col-sm-8'>
				<h1> Welcome to your doggie dashboard!</h1>
			</div>
			<div class='col-sm-2'></div>
		</div>

		<div class='row'>
			<div class='col-sm-2'></div>
			<div class='col-sm-8'>
				<table>	
					<thead>
						<th>TO DO: Dog picture</th>
						<th>Name</th>
						<th>Food low?</th>
						<th>Treats low?</th>
						<th colspan="2">Actions</th>
					</thead>
					<tbody>
						<% @dogs.each do |dog| %>
							<tr>
								<td></td>
								<td><%= dog.dog_name%></td>
								<td><%= check_box_tag 'food_low', 'yes', dog.food_low_flag, disabled:true%></td>
								<td><%= check_box_tag 'treats_low', 'yes',dog.treats_low_flag, disabled:true%></td>
								<td><%=link_to "Edit status", edit_dog_path(dog) %></td>
								<td><%=link_to "See details", dog_path(dog) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class='col-sm-2'></div>
		</div>
	</div>

	<p><%= link_to 'Add a new dog', new_dog_path(:owner_id => @owner.id) %></p> <!-- This lets you pass in a parameter of your own naming -->
	<p><%= link_to 'Back to all owners', owners_path%></p>

</div>