<!-- Only let site admins view this page -->
<% if !is_current_owner_site_admin %>
	<!-- Shows an error message if you aren't a site admin -->
	<h1 class='text-danger'>You can't view this page because you aren't a site admin</h1>
	<%=link_to 'Click here to go back to your doggie dashboard', owner_path(current_owner) %>
<% else %>
<!-- Shows you the page if you are a site admin -->
	<h1 class='text-success text-center'>You are able to view this page because you are a site admin</h1>
	<div class='dogContainer'>
		<h1 class='text-center whiteText'>Dogs list</h1>

		<table class='well well-lg text-center'>
			<thead>
				<tr>
					<th class='text-center'>Dog ID</th>
					<th class='text-center'>Dog name</th>
					<th class='text-center'>Breed</th>
					<th class='text-center'>Birthday</th>
					<th class='text-center'>Food low?</th>
					<th class='text-center'>Treats low?</th>
					<th class='text-center'>Photo path</th>
					<th class='text-center' colspan="3">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @dogs.each do |dog| %>
					<tr>
						<td><%= dog.id %></td>
						<td><%= dog.dog_name %></td>
						<td><%= dog.breed %></td>
						<td><%= dog.birthday %></td>
						<td><%= check_box_tag 'food_low', 'yes', dog.food_low_flag, disabled:true%>
						<td><%= check_box_tag 'treats_low', 'yes', dog.treats_low_flag, disabled:true%>
						<td><%= image_tag dog.image.url(:thumb) %></td>
						<td><%=link_to "See this dog's details", dog_path(dog) %>|</td>
						<td><%=link_to 'Edit this dog', edit_dog_path(dog) %>|</td>
						<td><%=link_to 'Delete this dog', dog, method: :delete, data: {confirm: 'Are you sure you want to delete this dog?'} %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class ='col-md-12 text-center'>
			<%= link_to 'Add a new dog', new_dog_path%>
		</div>
	</div>

<% end %>