<div class='dogContainer'>
	<h1>Dogs list</h1>

	<table>
		<thead>
			<tr>
				<th>Dog ID</th>
				<th>Dog name</th>
				<th>Breed</th>
				<th>Birthday</th>
				<th>Food low?</th>
				<th>Treats low?</th>
				<th>Photo path</th>
				<th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @dogs.each do |dog| %>
				<tr>
					<td><%= dog.id %></td>
					<td><%= dog.dog_name %></td>
					<td><%= dog.breed %></td>
					<td><%= dog.birthday %></td>
					<td><%= check_box_tag 'food_low', 'yes', dog.food_low_flag, disabled:true%>
					<td><%= check_box_tag 'treats_low', 'yes', dog.treats_low_flag, disabled:true%>
					<td><%= dog.photo_path %></td>
					<td><%=link_to "See this dog's details", dog_path(dog) %></td>
					<td><%=link_to 'Edit this dog', edit_dog_path(dog) %></td>
					<td><%=link_to 'Delete this dog', dog, method: :delete, data: {confirm: 'Are you sure you want to delete this dog?'} %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'Add a new dog', new_dog_path%>

</div>