<div class='dogContainer'>

	<h1> <%=@dog.dog_name %>'s info</h1>


	<p>Breed: <%=@dog.breed %></p>
	<p>Birthday: <%=@dog.birthday %></p>
	<p>Food low checkbox? <%=check_box_tag 'food_low' , 'yes', @dog.food_low_flag, disabled:true %></p>
	<p>Treats low checkbox? <%=check_box_tag 'treats_low' , 'yes', @dog.treats_low_flag, disabled:true %></p>
	<p>Photo location: <%=@dog.photo_path %></p>


	<h3>My owners are</h3>

	<!-- Loop to show all owners for this dog -->
	<ul>
		<% @owners.each do |owner| %>
			<li><%= owner.first_name %> <%= owner.last_name %></li>
		<% end %>
	</ul>

	<%= link_to 'Delete this dog', :dog, method: :delete, data: {confirm: 'Are you sure you want to delete this dog?'} %> 

</div> <!-- end dog_container div -->