<!DOCTYPE html>
<html>
<head>
  <title>Where My Dogs At?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br>
<br>
<hr>
<h3>Parameters (delete this from application.html.erb later!)</h3>
<%= params.inspect %>


</body>
</html>
