<!DOCTYPE html>
<html>
<head>
  <title>Where My Dogs At?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>

<!-- The ERB for the class below will apply a certain background image if login, or dog or owner is true -->
<% if @login %>
  <!-- <body class="<%#= @login ? 'login' : ''%>"> -->
  <body class='login'>
<%elsif @dog%>
  <body class='dogContainer'>
<%elsif @owner %>
  <% if (params[:controller]=='owners' && params[:action] != 'new') %>
    <body class='ownerContainer'>
  <% else %>
    <body class='newOwnerSignup'>
  <% end %>
<% else %>
  <body>
<% end%>

<nav class="navbar navbar-inverse" id='navigation'>
  <div class="container-fluid">
    <!-- This part creates the icon with three lines, when the device gets small enough to require collapsing of the navbar -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> <!-- This part is for screen readers only -->
        <span class="icon-bar"></span> <!-- This creates one of the three horizontal lines you see in the button -->
        <span class="icon-bar"></span> <!-- See comment in above line -->
        <span class="icon-bar"></span><!-- See comment in above line -->
      </button>

      <%= link_to image_tag('dog-house-brand.png', :class => 'brandImage'), new_session_path, class:'navbar-brand'%>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right"> <!-- This part has the links -->
        <% if current_owner != nil %>
            <li><%= link_to current_owner.full_name, owner_path(current_owner)%></li>
            <li><%= link_to 'Edit profile', edit_owner_path(current_owner)%></li>
            <li><%= link_to 'Log out', logout_path, method: :delete %></li>
        <%# else %>

        <% end %>
      </ul>
      <!-- This part has the search bar and button -->
<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<div class ='col-md-12'>
	<br>
	<br>
	<hr>
	<h3>Parameters (delete this from application.html.erb later!)</h3>
	<%= params.inspect %>
  <p>Session ID: <p>
  <%=session['owner_id']%>
</div>

</body>
</html>
